<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <mmda name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Water Quality Index</title>
        <link rel = "icon" href = "/img/logo.svg" type = "image/x-icon">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/styles/inputs.style.css">
    </head>
    <body>
        <nav class="navbar bg-dark py-0">
            <div class="container w-100 justify-content-md-center">
                <div class="row w-100">
                    <div class="col-lg-8 col-md-5">
                        <a href="#"><img src="/img/logo.svg" alt="Water Quality Index" width="85" height="85"></a>
                    </div>
                    <div class="col-lg-1 col-md-2">
                        <img src="/img/iit-logo.png" alt="IITKGP-logo" width="70" height="70">
                    </div>
                    <div class="col-lg-4 col-md-4 d-flex flex-column align-items-center">
                        <span style="font-weight: bold; color: white;">Agricultural and Food Engineering</span>
                            <br>
                            <span style="color: white;">Indian Institute of Technology</span>
                            <br>
                        <span style="color: white;">Kharagpur</span>
                    </div>
                </div>
            </div>
        </nav>
        <main>
            <div class="container mt-4 w-75">
                <div class="row">
                    <h3 class="mb-4 fw-bold">Input Parameters</h3>
                    <form method="POST" action="/output" autocomplete="off">
                        <div class="form-group-sm mb-3">
                            <label for="inputsm" class="fs-5">Latitude</label>
                            <input type="text" onkeypress="return event.keyCode != 13;" step="0.1" class="form-control form-control-md" name="latitude" id="inputmd">
                        </div>
                        <div class="form-group-sm mb-3">
                            <label for="inputsm" class="fs-5">Longitude</label>
                            <input type="text" onkeypress="return event.keyCode != 13;" step="0.1" class="form-control form-control-md" name="longitude" id="inputmd">
                        </div>
                        <div class="form-group-sm mb-3">
                            <label for="inputsm" class="fs-5">pH</label>
                            <input type="text" onkeypress="return event.keyCode != 13;" step="0.1" class="form-control form-control-md" name="ph" id="inputmd">
                        </div>
                        <div class="form-group-sm mb-3">
                            <label for="inputsm" class="fs-5">Temperature (in &deg;C)</label>
                            <input type="text" onkeypress="return event.keyCode != 13;" step="0.1" class="form-control form-control-md" name="temperature" id="inputmd">
                        </div>
                        <div class="form-group-sm mb-3">
                            <label for="inputsm" class="fs-5">Turbidity (in NTU)</label>
                            <input type="text" onkeypress="return event.keyCode != 13;" step="0.1" class="form-control form-control-md" name="turbidity" id="inputmd">
                        </div>
                        <div class="form-group-sm mb-3">
                            <label for="inputsm" class="fs-5">Electrical Conductivity (in S/m)</label>
                            <input type="text" onkeypress="return event.keyCode != 13;" step="0.1" class="form-control form-control-md" name="electrical_conductivity" id="inputmd">
                        </div>
                        <div class="form-group-sm mb-3">
                            <label for="inputsm" class="fs-5">Hardness (in mg/l)</label>
                            <input type="text" onkeypress="return event.keyCode != 13;" step="0.1" class="form-control form-control-md" name="hardness" id="inputmd">
                        </div>
                        <div class="form-group-sm mb-3">
                            <label for="inputsm" class="fs-5">Alkalinity (in mg/l)</label>
                            <input type="text" onkeypress="return event.keyCode != 13;" step="0.1" class="form-control form-control-md" name="alkalinity" id="inputmd">
                        </div>
                        <div class="form-group-sm mb-3">
                            <label for="inputsm" class="fs-5">Dissolved Oxygen ((in mg/l))</label>
                            <input type="text" onkeypress="return event.keyCode != 13;" step="0.1" class="form-control form-control-md" name="dissolved_oxygen" id="inputmd">
                        </div>
                        <div class="form-group-sm mb-3">
                            <label for="inputsm" class="fs-5">Biological Oxygen Demand ((in mg/l))</label>
                            <input type="text" onkeypress="return event.keyCode != 13;" step="0.1" class="form-control form-control-md" name="biological_oxygen_demand" id="inputmd">
                        </div>
                        <div class="form-group-sm mb-3">
                            <label for="inputsm" class="fs-5">Chemical Oxygen Demand ((in mg/l))</label>
                            <input type="text" onkeypress="return event.keyCode != 13;" step="0.1" class="form-control form-control-md" name="chemical_oxygen_demand" id="inputmd">
                        </div>
                        <div class="form-group-sm mb-3">
                            <label for="inputsm" class="fs-5">Ammonium (in mg/l)</label>
                            <input type="text" onkeypress="return event.keyCode != 13;" step="0.1" class="form-control form-control-md" name="ammonium" id="inputmd">
                        </div>
                        <div class="form-group-sm mb-3">
                            <label for="inputsm" class="fs-5">Nitrate (in mg/l)</label>
                            <input type="text" onkeypress="return event.keyCode != 13;" step="0.1" class="form-control form-control-md" name="nitrate" id="inputmd">
                        </div>
                        <div class="form-group-sm mb-3">
                            <label for="inputsm" class="fs-5">Nitrite (in mg/l)</label>
                            <input type="text" onkeypress="return event.keyCode != 13;" step="0.1" class="form-control form-control-md" name="nitrite" id="inputmd">
                        </div>
                        <div class="form-group-sm">
                            <label for="inputsm" class="fs-5">Phosphate (in mg/l)</label>
                            <input type="text" onkeypress="return event.keyCode != 13;" step="0.1" class="form-control form-control-md" name="phosphate" id="inputmd">
                        </div>
                        <button type="submit" id="submit" class="btn btn-dark" style="margin-bottom: 5rem !important;">Submit</button>
                    </form>
                </div>
            </div>
        </main>
        <footer class="page-footer font-small fixed-bottom bg-dark">
            <div class="footer-copyright text-center py-3 text-light">
                © 2021 Copyright : Water Quality Index
            </div>
        </footer>
        
        <script src="/scripts/param.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>
    </body>
</html>