* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#submit {
    margin-top: 1em;
}

.container {
    max-height: 100vh;
}

.navbar {
    background-color: var(--bs-cyan) !important;
}

.page-footer {
    background-color: var(--bs-cyan) !important;
}

input::placeholder {
    color: rgb(184, 184, 184) !important;
}

.col-md-2 {
    margin-right: -2rem !important;
    padding-top: 0.5rem !important;
}

.col-md-5 {
    margin-right: 0rem !important;
}

.col-md-4 {
    width: 19rem !important;
    padding-top: 0.2rem !important;
}